<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Meghana's Guestbook</title>
<link rel="stylesheet" href="/guestbook.css"/>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body>
        <nav id="font" class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
				  <div class="navbar-header">
					<a class="navbar-brand" href="#"></a>
				  </div>
				  <ul class="nav navbar-nav">
							<li><a href="about">Meghana</a></li>
					<li><a class="active" href="about">Home</a></li>
					<li><a href="find">Find</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="http://localhost:8081/guestbook">Guestbook</a></li>
				  </ul>
				</div>
              </nav>
              <div class="container-fluid">
            <br><br><br>
<h1>
Meghana's Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</div>
</body>